.quality-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.quality-dropdown__toggle {
    cursor: pointer;
    padding: 4px 8px;
    min-width: 150px;
    /* Set a minimum width for the toggle button */
    text-align: left;
    /* Align text to the left */
    width: 100%;
}

.quality-dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    min-width: 150px;
    max-height: 300px;
    z-index: 10;
    overflow-y:scroll;
}

.quality-dropdown__menu-item {
    cursor: pointer;
    padding: 8px;
}

.quality-dropdown__menu-item:hover {
    background-color: #f1f1f1;
}

.quality-dropdown__menu-item-name {
    font-weight: bold;
}

.quality-dropdown__menu-item-effect {
    font-size: 0.8rem;
    color: #666;
}